{% extends 'base.html' %}
{% block container %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <img src="{% static 'city.jpeg' %}" class="img-fluid" alt="">
  {% include "nav.html" %}
  <div class="wrapper">
  <h1>Posts</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in blogs%}
    <div class="col">
      <div class="card h-100">
        {% if blog.image %}
          <img src="{{blog.image.url}}" class="card-img-top" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{blog.writer}}</h6>
          <p class="card-text">{{blog.summary}}...</p>
          <a href="{%url 'detail' blog.id%}" class="btn btn-primary">detail</a>
        </div>
        <div class="card-footer">
          <time class="text-muted">{{blog.pub_date}}</time>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
{% endblock %}