{% extends 'base.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>새 글 작성</title>
</head>
<body>
  {% include "nav.html" %}
  <div class="wrapper">
    <h1> 새 글 작성하기</h1>
    <form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="row mb-3">
        <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTitle" name="title">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputWriter" class="col-sm-2 col-form-label">작성자</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputWriter" name="writer">
        </div>
      </div>
      <div class="mb-3">
        <label for="textareaBody" class="form-label">본문</label>
        <textarea class="form-control" id="textareaBody" name="body" cols="40" rows="10"></textarea>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">이미지 첨부하기</label>
        <input class="form-control" type="file" id="formFile" name="image">
      </div>
      <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
  </div>
</body>
</html>
{% endblock %}