<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>새 글 작성</title>
</head>
<body>
  <h1> 새 글 작성하기</h1>
  <form action="{%url 'create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <h3>제목: <input type="text" name="title"></h3>
    <p>
      작성자: <input type="text" name="writer">
    </p>
    <p>
      본문: <textarea name="body" cols="40" rows="10"></textarea>
    </p>
    <p>
      사진: <input type="file" name="image" id="image">
    </p>
    <button type="submit">제출하기</button>
  </form>
</body>
</html>