<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>jngsjn</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
  <header class="header-wrap">
    <a class="link" href="#pageTop" onClick="window.location.reload()">jngsjn</a>
  </header>
  <main id="pageTop">
    <section class="normal-content global-width">
      <h2>Hello.</h2>
      <p>안녕하세요. 멋사 9기 정세진입니다.<br><a class="content-link" href="https://youtu.be/QB5qc0smeS0">1분 코딩 예제</a>를 따라해서 자기소개 페이지를 만들어봤어요.<br>그럼 함께 스크롤 해보시죠!<br>⬇️⬇️⬇️⬇️⬇️⬇️</p>
    </section>
    <section class="scroll-content">
      <div class="scroll-graphic">
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/00.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/01.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/02.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/03.png' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/04.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/05.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/06.jpg' %}" alt=""></div>		
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/07.jpg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/08.jpeg' %}" alt=""></div>
        <div class="graphic-item"><img class="scene-img" src="{% static 'img/09.jpg' %}" alt=""></div>
      </div>
      <div class="scroll-text global-width">
        <div class="step">
          <p>
            ✨안녕하세요✨
          </p>
        </div>
        <div class="step">
          <p>
            멋사의 아기사자🦁이지만 4학년👵인 정세진입니다.
          </p>
        </div>
        <div class="step">
          <p>
            국민대학교 조형대학 공업디자인학과 재학중이구요, 학번은 쉿🤫<span class="small-text">(16학번...찡긋)</span><br>
            쭈욱 대학생이고싶은 4학년, 졸전 준비 중인 말하는 감자🥔랍니다.
          </p>
        </div>
        <div class="step">
          <p>
            팩폭을 잘하는 INTP이구요, 
          </p>
        </div>
        <div class="step">
          <p>
            돈많이 벌어 냥님 모시고 싶은 랜선 집사에요.🐈 
          </p>
        </div>
        <div class="step">
          <p>
            아이폰을 9년째 쓰고 있는 앱등이 입니다...🍎<br>아이맥 갖! 고!! 싶!!! 어!!!! 요!!!!!
          </p>
        </div>
        <div class="step">
          <p>
            취미는 전시회나 미술관 가기!🖼<br>이지만 팬데믹 이후로 가지 못했어요...😭
          </p>
        </div>
        <div class="step">
          <p>
            새로운 것을 배우는 걸 좋아합니당<br>요즘은 스페인어 배우는 중...¡Hola!🇪🇸
          </p>
        </div>
        <div class="step">
          <p>
            제가 작업할 때 많이 듣는 음악은 로파이, 특히 <a class="step-link" href="https://youtu.be/1KxySbPhUn4">Iwamizu</a>의 곡들을 좋아해요.<br>그 중 저의 최애 곡은 Edo!
          </p>
        </div>
        <div class="step">
          <p>
            제가 좋아하는 컬러는... <span class="color-text">라벤더!<br>파랑-보라 계열 좋아해요.</span>
          </p>
        </div>
      </div>
    </section>
  </main>
  <section class="normal-content global-width">
		<h2>Fin.</h2>
		<p>
      이상 저의 tmi 대파티였습니다...<br>
      저의 인스타그램은 <a class="content-link" href="https://instagram.com/jng.sjn">➡️여기⬅️</a><br>선팔해주신다면 맞팔하러 달려가겠습니당🏃‍♀️<br><br>
      그럼 전... 이만...
    </p>
	</section>
  <!-- <footer>
  </footer> -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>